@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin input-base($width, $bg-color){
    border: #524031 solid 1px;
    padding: 10px;
    border-radius: 10px;
    width: $width;
    color: white;
    @if $bg-color == marron {
        /* background-color: rgb(155, 104, 46) */
        background-color: #917055;
    }
    @else if $bg-color == rojo{
        background-color: red;
    }
    @else{
        background-color: aqua;
    }
}