$bg-img-path: "https://static.vecteezy.com/system/resources/previews/000/133/161/non_2x/grunge-brown-paper-texture-vector.jpg";

$family-title: 'Playfair Display', serif;
$family-text: 'Nunito', sans-serif;

$colores: (
    marron: #b08968, 
    marron-oscuro: #917055,
);

$ancho: 400px;