$bg-img-path: "https://static.vecteezy.com/system/resources/previews/000/133/161/non_2x/grunge-brown-paper-texture-vector.jpg";

$family-title: 'Playfair Display', serif;
$family-text: 'Nunito', sans-serif;

$colores: (
    marron-claro: rgb(184, 126, 59), 
    marron: rgb(155, 104, 46), 
    marron-oscuro: rgb(128, 86, 38)
);

$ancho: 400px;